/*
 * See customization section of docsify-themeable:
 * https://jhildenbiddle.github.io/docsify-themeable/#/customization
 */
:root {
  /* Reduce the font size */
  --base-font-size: 14px;

  /* Change the theme color hue */
  /* --theme-hue: 125; */
  --theme-color: #015798;

  /* base */
  --base-font-family: 'Inter', sans-serif;

  /* content */
  --link-text-decoration: none;
  --link-color: #FF6602;
  --link-color--hover:#015798;

  /* sidebar */
  --sidebar-width: 22rem;
  --sidebar-nav-link-color--hover: #FF6602;
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-text-decoration--hover: none;

  /* cover page */
  --cover-max-width: 60em;
  --cover-background-image: none;
  --cover-background-color: #015798;
  --cover-color: white;
  --cover-link-color: #FF6602;
  --cover-link-text-decoration: none;
  --cover-text-align: left;
  --cover-heading-font-weight: 500;
}
